%h1= 'Einsatzplan 40. Winterthurer Musikfestwochen'
-old_night_id = nil
-old_venue_id = nil
%table
  %tr
    %th.date= t 'Date'
    %th.venue= t 'Venue'
    %th.time= t 'Time'
    %th.concert= t 'Concert'
  -@concerts.each do |concert|
    -rowclass = nil
    -rowclass = :beginnight if old_night_id != concert.night_id
    %tr{ class: rowclass }
      %td.date= l concert.night.date, format: :short if old_night_id != concert.night_id
      %td.venue= concert.venue.name if old_venue_id != concert.venue_id
      %td.time= concert.time
      %td.concert= concert.title
      -old_night_id = concert.night_id
      -old_venue_id = concert.venue_id
